<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgetpassword.css">
    <title> <%= title %> </title>
</head>
<body>
  

    <div class="container main-c">

        <div class="head">
            We will send you a new password on your Email 
        </div>

        <div class="get-pass-form">
            <form action="/users/randomNumber/<%= user.id %>" onsubmit="return stopRelod();">
                <input class="en-email" type="email" name="email" placeholder="<%= user.email %>">
                <input type="submit" id="getotp" value="Genrate Password" onclick="getopt()">
            </form>
        </div>
        



    </div>

    
   

    
 
   




<script src="/js/random.js"></script>
</body>
</html>