<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/changepass.css">
    <title> <%= title %> </title>
</head>
<body>
    
   
    <div class="container">
        <div>
            <form action="/users/update/<%= user.id %>" method="post">
                Email
                
                <input type="password" name="npass" placeholder="New Password">
                <input type="password" name="npass" placeholder="Confirm Password">
                <input type="submit" value="Change">
            </form>
            <a href="/users/forget-password">Forget password</a>
        </div>

        
    </div>
</body>
</html>