
body{
    background-image: url('/images/bg2.jpg');
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.main-c{
    height: 70vh;
}

.head{
    border-bottom: 2px solid  wheat;
    color: white;
    font-size: 2.5rem;
}

.get-pass-form{
    margin-top: 2%;

}
.get-pass-form form{
    border-bottom: 2px solid white;
    display: flex;
    padding: 1%;
    
}
.get-pass-form form .en-email{
    width: 25%;
}