

header{
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    /* height: 18vh; */
  
}

a{
    margin: 0%;
    padding: 0%;
}

.h-links{
    /* background-color: black; */
    display: flex;
    height: 7vh;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    
}
.h-links li{
    list-style: none;
    /* border: 2px solid red; */
    width: 12%;

}

.h-links li a{
    font-size: 1.5rem;
    color: aliceblue;
    /* margin-left: 5vh; */
}

.logo{
    background-color: aliceblue;
    border-radius: 20vh;
    border: 2px solid red;
    height: 10vh;
    width: 10vh;
    position: relative;
    bottom: 6vh;
    left: 130vh;
    
}

.logo img{
    height: 100%;
    width: 100%;
    border-radius: 20vh;
}

.active{
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: wheat;
}
